<div class="container" align="center">
  <div class="col-md-6">

<h2>Modifier un article</h2>

 <%= form_for(@item, url: administration_item_path(@item.id), html: { method: :patch }) do |f| %>

   <div class="form-group">
         <%= label_tag 'Nom' %>
         <%= f.text_field :name  ,class: "form-control "  %>
   </div>

   <div class="form-group">
         <%= label_tag 'Description' %>
         <%= f.text_area :description, class: "form-control "  %>
   </div>

   <div class="form-group">
         <%= label_tag 'Prix(€)' %>
         <%= f.number_field :price ,:value => @item.price ,step: :any ,min:0 ,class: "form-control "  %>
   </div>

   <div class="form-group">
       Categories <br> <br>
        <% @categories.each do |category| %>
        <%= label_tag category.name %>
        <%= check_box_tag "category_ids[]", category.id ,  @item.categories.include?(category)%>
       <br>
       <% end %>
  </div>

   <div class="form-group">
     <%= label_tag 'Reduction(%)' %>
     <%= f.number_field :percentage_discount,  class: "form-control ",:value => @item.percentage_discount , min:0 %>
   </div>

    <br>
   <div class="form-group">
         <%= submit_tag "Mettre à jour", class: 'btn btn-primary btn-submit' %>
   </div>
   <% end %>

</div>
</div>
