<div class="container" align="center">
  <div class="col-md-6">

<h2 class="mt-5">Ajouter un nouvel article</h2>

<%= form_tag url_for(action: 'create'), multipart: true, method: "post" do %>

   <div class="form-group">
         <%= label_tag 'Nom' %>
         <%= text_field_tag 'name', @name, class: "form-control "  %>
   </div>

   <div class="form-group">
         <%= label_tag 'Description' %>
         <%= text_area_tag 'description', @description, class: "form-control "  %>
   </div>

   <div class="form-group">
         <%= label_tag 'Prix(€)' %>
         <%= number_field_tag 'price', @price, :value => 0 ,  min:0 ,class: "form-control "  %>
   </div>

  <div class="form-group">
    Categories <br> <br>
     <% @categories.each do |category| %>
     <%= label_tag category.name %>
     <%= check_box_tag "category_ids[]", category.id %>
    <br>
    <% end %>
  </div>

   <div class="form-group">
     <%= label_tag 'Reduction(%)' %>
     <%= number_field_tag 'percentage_discount', @percentage_discount, class: "form-control ",:value => 0 , min:0 %>
   </div>

<%= file_field_tag :picture %>

    <br>
   <div class="form-group">
         <%= submit_tag "Creer", class: 'btn btn-primary btn-submit' %>
   </div>
   <% end %>

</div>
</div>
