<%= form_for user, url: administration_user_url(user.id), html: {class: ""} do |f| %>
	<tr>
		<td> <%= user.id %></td>
		<td> <%= user.email %></td>
		<td> <%= user.admin %></td>
		<td><a href="<%= edit_administration_user_path(user.id) %>" class="">Editer</a></td>
	</tr>
<% end %>
