<div class="card-group mt-5">
	<% @items.each do |item| %>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card card-items product-grid">
			<div class="product-image">
				<%= link_to(home_item_path(item.id)) do %>
				<img class="card-img-top" src="<%= image_url(item.image_url) %>" alt="<%= item.name %>" size="300">
				<% end %>

				<ul class="social">
					<li>


						<a href="#" data-toggle="modal" data-target="#modal-<%= item.id %>">
							<i class="fe fe-search"></i>
						</a>

					</li>
					<li>
						<% if user_signed_in? %>
						<a href="#" data-toggle="modal" data-target="#cart-<%= item.id %>">
						<i class="fe fe-cart"></i>
						<% else %>
						<%= link_to user_session_path do %>
						<i class="fe fe-cart"></i>
						<% end %>
						<% end %>
					</li>
				</ul>
				<% if item.discount == true %>
				<span class="product-sale-label warning">Sale</span>
				<% end %>
			</div>
			<div class="card-body product-content pt-4">
				<h4 class="card-title">
					<%= link_to(item.name, home_item_path(item.id)) %>
				</h4>
				<% if item.discount == false %>
				<div class="price">
					<%= item.price%> €
				</div>
				<% else %>
				<div class="price">
					<%= item.reduced_price %> €
						<span><%= item.price%> €</span>
				</div>
				<% end %>
				<div class="card-footer">
					<small class="text-muted">
						<% item.categories.each do|cat| %>
						<%=cat.name %>
						<%end%>

					</small>
				</div>

				</ul>
			</div>
		</div>
	</div>

	<% end %>
</div>

<%= render "layouts/landing/cart_modal" %>
<%= render "layouts/landing/product_modal" %>
