<div class="container">
    <div class="row mt-5">
        
        <table class="cart_check">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>QTY</th>
                    <th>Price</th>
                    <!--	<th>&nbsp;</th>-->
                </tr>
            </thead>
            <tbody>
                <% @cart_items.order(:created_at).each do |cart_item| %>
                <tr>
                    <td><%= cart_item.item.name %>
                        <span>
                            <% cart_item.item.categories.each do|cat| %>
                            <%=cat.name %>
                            <%end%>
                        </span>
                    </td>
                    <td><%= form_for(cart_item, url: home_cart_item_path(cart_item.id), html: { method: :patch }) do |f| %>
                    <%= f.number_field :quantity, autocomplete: "quantity", class: "number_field", in: 1...10 %>
                    <%= submit_tag "Éditer", class:"btn btn-info btn-sm" %>
                    <% end %></td>
                    <td class="price-<%=cart_item.id%>"><%= cart_item.price %> €</td>
                    <td>
                        <button class="checkout__action">
                            <%= link_to(home_cart_item_path(cart_item.id), :method => :delete,  data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette article de votre panier ?' }) do %>
                            <i class="icon fa fa-trash"></i>
                            <% end %>
                        </button>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table><!-- /checkout__summary -->
    </div>





        <h3>Somme : <%=@cart.sum_price%> €</h3>

        <% if !@cart.items.empty? %>

        <h3><%= link_to "Passer à la page de payement", edit_home_payment_path(current_user.profile.id), method: "get" %></h3>

        <% end%>
</div>
