<% @items.each do |item| %>
<%= item.id %>
<br>
<%= item.name%>
<br>
<%= item.reduced_price%> €
<br>
<% cart_item = CartItem.where(cart_id: @cart.id ,item_id: item.id)[0]%>
<%= link_to "DELETE", home_cart_item_path(cart_item.id), :method => :delete,  data: { confirm: 'Are you sure you want to delete this article from your cart ?' } %>
<br><br>
<% end %>

<h3>Somme : <%=@cart.sum_price%> €</h3>
