<div class="container p-5">
  <div class="row ml-3">

    <div class="col-12 ml-5">
      <p class="mt-4 py-2 text-secondary font-weight-bold h4">KPI</p>
      Nouveaux Utilisateurs
    <%= column_chart User.group_by_day(:created_at, format: "%a %d %b").count, xtitle: "Jour", ytitle: "Nombre" %>
    <br>
    Nombre de visites dans la journée
    <%= column_chart Ahoy::Visit.all.group_by_hour(:started_at, format: "%H h").count, maximum: 23, xtitle: "Heures", ytitle: "Nombre" %>
    <br>
    Activités dans la journée
    <%= line_chart Ahoy::Event.where(name: "Home action").group_by_hour(:time, format: "%H h").count, maximum: 23, xtitle: "Heures", ytitle: "Nombre" %>
    <br>
    Nombre de visites dans le mois
    <%= column_chart Ahoy::Visit.group_by_day_of_month(:started_at).count,stacked: true, maximum: 31,  xtitle: "Jours", ytitle: "Nombre" %>
    <br>

    Profits journaliers (€)
     <%= column_chart @data_gain_hash %>
    <br><br>

    Répartition des produits les plus commandés
    <%= bar_chart @data_product_hash , suffix: "%" %>


    </div>
  </div>
</div>
