<div class="container mb-2">
      <br><br>
      <div class="row">
        <div class="col-md-6">
          <%if @item.picture.attached?%>
          <%= image_tag @item.picture, alt: 'picture', class: 'picture' %>
          <% end %>
        </div>
        <div class="col-md-6">
      <h2 class="font-weight-bold"><%= @item.name %></h2>
      <% if @item.discount == false %>
      <h3 class="font-weight-light"><%= @item.price %>€</h3>
      <% elsif @item.discount == true %>
      <h3 class="font-weight-light"><del><%= @item.price %>€</del> <%= @item.reduced_price%> € (- <%= @item.percentage_discount %> %)</h3>
      <% end %>
      <p><strong>"<%= @item.description %>"</strong></p>
      <br>
      <%= link_to("Add to card", home_cart_item_path, class: "btn btn-primary", remote: true, method: "PATCH") %>
      <%= link_to("Back to index", root_path) %>
      </div>
      </div>
</div>
