
<div class="row">
  <div class="col-2 pl-0 ">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Acceuil</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profil</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Paniers</a>
      <a class="list-group-item list-group-item-action" id="list-orders-list" data-toggle="list" href="#list-orders" role="tab" aria-controls="orders">Commandes</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Paramètres</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

        <div class="row">
          <div class="card mb-3 col-md-8 p-0" style="max-width: 640px;">
            <div class="card-title p-1 bg-info text-white text-bold ">Bienvenue</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita accusantium eos sunt. Voluptatem aliquam pariatur doloribus incidunt
                qui nesciunt autem repellendus itaque officia accusamus vero,
                laudantium minus vitae aut reprehenderit!
            </div>
          </div>
        </div>

      </div>

      <!--PROFILE -->
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="row">
          <div class="card mb-3 col-md-8 p-0" style="max-width: 640px;">
            <div class="card-title p-1 bg-info text-white text-bold ">PROFIL</div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-info"> prénom </span> <%= @profile.first_name %>
                  </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="badge badge-info"> nom </span> <%= @profile.last_name %>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="badge badge-info"> téléphone </span> <%= @profile.phone_number %>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="badge badge-info"> rue </span> <%= @profile.street %>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="badge badge-info"> code postal </span> <%= @profile.postal_code %>
                 </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="badge badge-info"> ville </span> <%= @profile.city %>
                </li>
                 <li class="list-group-item">
                  <%= link_to  "éditer", edit_home_profile_path(@profile.id), class: "btn btn-warning btn-lg my-3" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
     </div>

      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
        historique de nos paniers (payé ou en cours) <br>
        Possibilité de sauvegarder des paniers ? feature supplémentaire
      </div>
      <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">
        VOS COMMANDES <br>
        <ol>
          <%@orders.order('created_at ASC').each do |order| %>
          <%= link_to home_order_path(order.id) do %>
          <li>
            Commande #<%= order.id %> le <%= order.created_at.asctime%> (<%= order.status%>)
          </li>
            <%end%>
          <%end%>
        </ol>
      </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        option pour supprimer son compte
      </div>
    </div>
  </div>
</div>
