<div class="card card-admin my-3">

  <input type="text" id="myInput" onkeyup="searchBarOrders()" placeholder="Rechercher une commande par adresse email..." title="Rentrer une adresse email">

  <div class="table-responsive">
    <table id="myTable" data-toggle="table" class="table table-striped table-hover">
      <thead>
        <tr>
          <th data-sortable="true">Id</th>
          <th data-sortable="true">Date</th>
          <th data-sortable="true">Identifiant Stripe</th>
          <th data-sortable="true">Client</th>
          <th data-sortable="true">Articles</th>
          <th data-sortable="true">Total</th>
          <th data-sortable="true">Etiquette Postale</th>
          <th data-sortable="true">Facture</th>
          <th data-sortable="true">Statut</th>
          <th>Edition</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.order('id ASC').each do |order| %>
        <tr>
          <td><%= link_to order.id, administration_order_path(order.id) %></td>
          <td><%= order.created_at_french %></td>
          <td><%= order.stripe_customer_id %></td>
          <td><%= order.user.email %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% order.items.each do |item| %>
                  <a class="dropdown-item" href=""><%= item.name %></a>
                <% end %>
              </div>
            </div>
          </td>
          <td><%= order.items.sum("price") %> € </td>
          <td><%= link_to "PDF", administration_order_postal_sticker_path(order.id, format: :pdf) %></td>
          <td><%= link_to "PDF", home_order_invoice_path(order.id, format: :pdf) %></td>
          <td>
            <%= if order.status == 'initiated' then 'Initiée' end %>
            <%= if order.status == 'shipped' then 'Expédiée' end %>
            <%= if order.status == 'delivered' then 'Livrée' end %>
          </td>
          <td><%= link_to "Editer", administration_order_path(order.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
