
<div class="container p-5">
    <div class="row ml-3">

    <div class="col-12 ml-5">
      <p class="mt-4 py-2 text-secondary font-weight-bold h1"><%= @user_profile.first_name  %> <%= @user_profile.last_name  %> </p>
      <p class="mt-4 py-2 text-secondary font-weight-bold h1"><%= @user_profile.street  %></p>
      <p class="mt-4 py-2 text-secondary font-weight-bold h1"><%= @user_profile.postal_code  %> </p>
      <p class="mt-4 py-2 text-secondary font-weight-bold h1"><%= @user_profile.city  %></p>
    </div>

  </div>
</div>
