<div class="container p-5">
  <div class="row ml-3">

    <div class="col-12 ml-5">
      <p class="mt-4 py-2 text-secondary font-weight-bold h4">Commandes</p>

      <p><em>Id de la commande : </em><%= @order.id %></p>
      <p><em>Date de création : </em><%= @order.created_at_french %></p>

      <p>
        <em>Statut de la commande :</em>
        <%= if @order.status == 'initiated' then 'Initiée' end %>
        <%= if @order.status == 'shipped' then 'Expédiée' end %>
        <%= if @order.status == 'delivered' then 'Livrée' end %>
      </p>

      <%= render "table_row_order_show" %>

      <p>TOTAL : <%= @order.items.sum("price") %> € </p>

      <%= form_for(@order, url: administration_order_path, html: { method: :patch }) do |f| %>

        <%= f.radio_button :status, 0, checked: @order.status == 'initiated' %>
        <%= label :status_0, 'Initiée' %>
        <%= f.radio_button :status, 1, checked: @order.status == 'shipped' %>
        <%= label :status_1, 'Expédiée' %>
        <%= f.radio_button :status, 2, checked: @order.status == 'delivered' %>
        <%= label :status_2, 'Livrée' %>

        <div class="actions">
        <%= f.submit "Sauvegarder", class:"btn btn-info btn-lg my-3" %>
        </div>

      <% end %>

      <p class="mt-4 py-2 text-secondary font-weight-bold h4">Livraison</p>

        <em>First name : </em><%= @user_profile.first_name %> <%= @user_profile.last_name  %> <br>
        <em>Last name : </em><%= @user_profile.street %> <br>
        <em>City : </em><%= @user_profile.city %> <br>
        <em>Postal code : </em><%= @user_profile.postal_code %> <br>

    </div>
  </div>

</div>
